.tab {
  display: flex;
  position: relative;
  width: 100%;
  padding: 10px;
  align-items: center;
  cursor: pointer;
  border-bottom: 2px solid #888888;
  color: #333333;
  justify-content: center;

  &:hover {
    color: #888888;
  }

  &--active {
    color: #007aff;
    border-bottom: 2px solid #007aff;

    &:before {
      content: '';
      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);
      border-width: 6px 6px 0;
      border-style: solid;
      border-color: #007aff transparent;
    }

    &:hover {
      color: #007aff;
    }
  }

  &:after {
    content: '';
    background: #379aea;
    display: block;
    position: absolute;
    border-radius: 50%;
    padding-top: 25%;
    padding-left: 100%;
    margin-left: -20px;
    margin-top: -5%;
    opacity: 0;
    transition: all 0.3s;
  }

  &:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s;
  }
}
