
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9f9f9;
  height: 100vh;
  overflow: auto;
}

#root {
  height: 100%;
}
