name: react-rollup-boilerplate

on:
  pull_request:
    branches: [ main ]

jobs:
  continuous-integration:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: 16

    - name: Install dependencies
      run: |
        yarn install

    - name: Run Continuous Integration
      run: |
        yarn ci
